<div class="row">
    <div class="col-6">
        <app-grafico-dona [GraficoConfig]="graficos.grafico1"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [GraficoConfig]="graficos.grafico2"></app-grafico-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-grafico-dona [GraficoConfig]="graficos.grafico3"></app-grafico-dona>
    </div>
    <div class="col-6">
        <app-grafico-dona [GraficoConfig]="graficos.grafico4"></app-grafico-dona>
    </div>
</div>