{{leyenda}}
<div class="input-group">
    <span class="input-group-btn">
                       <button class="btn btn-primary" (click)="cambiarValor(-5)" type="button"><i class="mdi mdi-minus"></i></button>
                    </span>
    <input type="number" #txtProgress min="1" max="100" [(ngModel)]="porcentaje" (ngModelChange)="OnChanges($event)" name="progreso" class="form-control" />
    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="cambiarValor(5)"><i class="mdi mdi-plus"></i></button>
                     </span>
</div>